<%= form_for(current_user) do |u| %>
  
<div id="start_date_field">
  

<%= u.date_field :start_date %>

  </div>
   <div id="post_button">
  <%= u.submit "Set start date", class: "btn btn-primary" %>
  </div>
<% end %>
