<div id="post-<%= post.id %>">
  <span class="timestamp">
    <%= post.created_at.strftime('%A, %b %d')%>
      <span class="content"><%= post.content %></span>
        <% if current_user?(post.user) %>
      <%= link_to "delete", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</div>