<div id="post-<%= post.id %>">
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    <%= post.created_at.to_date %>.
        <% if current_user?(post.user) %>
      <%= link_to "delete", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</div>